.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.card {
  width: 900px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 5px;
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-blue {
  background-color: dodgerblue;
}
.btn {
  background-color: #fff;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: larger;
  font-weight: 600;
  margin: 20px;
}
input {
  padding: 10px;
  width: 300px;
  font-size: larger;
  margin-bottom: 20px;
}
label {
  font-size: larger;
  font-weight: 600;
  margin: 0 5px 0 20px;
}
ul {
  margin: 20px 0;
  font-size: larger;
  font-weight: 600;
}
