.prod-card {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 40px;
  transition: all 0.3s ease-in-out;
}
.prod-img {
  width: 100%;
  margin-bottom: 5px;
}
.card-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}
.prod-card:hover {
  transform: scale(1.1);
}
