.card {
  margin: 0 auto;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: sans-serif;
  font-size: 14px;
  border: 2px solid red;
  margin-top: 20px;
}
img {
  width: 200px;
}
.left {
  flex: 1.5;
  height: 100%;
  background: linear-gradient(135deg, #fff, lightgray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.right {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.card-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.arrow-icons {
  display: flex;
  align-self: flex-start;
  margin-left: 20px;
}
.arrow-icon {
  margin: 0 3px;
}
.flex-div h3 {
  margin-right: 20px;
}
.price {
  font-weight: bold;
  font-size: 16px;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btncal {
  color: #fff;
  background-color: #1971c2;
  border: 2px solid #1971c2;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
  padding: 8px 28px;
  font-size: 16px;
  cursor: pointer;
  margin: 18px;
  letter-spacing: 1.1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btncal:hover {
  background-color: #145a9b;
}
.btn-count,
.count,
.arrow-icon {
  padding: 5px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 2px;
  background-color: #fff;
}
span {
  color: green;
}
.card-footer {
  font-size: 12px;
}
