.btn {
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin: 20px;
}
.text {
  color: #1971c2;
  border: none;
}
.contained {
  background-color: #1971c2;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.outlined {
  border: 1px solid #1971c2;
  color: #1971c2;
}
