body {
  max-width: 1100px;
  margin-inline: auto;
  font-family: sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  text-align: center;
}
.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.product-card {
  width: 340px;
}
.product-card p {
  font-weight: 500;
  font-size: 16px;
  color: #adb5bd;
  text-transform: capitalize;
}
.product-card h3 {
  font-size: 20px;
  font-weight: 500;
  color: #495057;
  text-transform: uppercase;
}
.product-card h5 {
  font-weight: bold;
  font-size: 16px;
  color: #000;
  text-transform: capitalize;
}
.product-card .stars {
  font-size: 28px;
  color: #495057;
}
