* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 50px;
}

.btn {
  background-color: #e64980;

  border: none;
  padding: 15px 40px;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #c2255c;
}

.btn-accent {
  background-color: #7950f2;
}
.btn-accent:hover {
  background-color: #5f3dc4;
}
.btn-inverse {
  background-color: #fff;
  border: 2px solid #c2255c;
  color: #c2255c;
}
.btn-inverse:hover {
  background-color: #c2255c;
  color: #fff;
}
.bg-dark {
  width: 100vw;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 30px;
  padding: 50px;
}
.text-primary {
  color: #c2255c;
}
